div {
  display: inline-block;
}

button {
  margin-bottom: 15px;
}

input {
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
}

td {
  width: 30px;
  height: 30px;
  border: solid black 1px;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}