div {
  display: inline-block;
}

input {
  margin-bottom: 15px;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  width: 30px;
  height: 30px;
  border: solid black 1px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}